<div class="container">
    <div class="row">
        <div style="position: absolute;
                    top:0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    height: 100px;"
                    class="text-center">
            <h1>Woops, something went wrong!</h1>
            <a href="~/Monitor/Index" 
               class="btn btn-secondary btn-lg rounded-0">
                Back to Homepage
            </a>
        </div>
    </div>
</div>